body{
    margin: 0;
    overflow: hidden;
    background:rgb(0,0,128);
}
span{
    color: orange;
}
.landing{
    width: 33%;
    position: fixed;
    top: 10%;
    bottom: 50%;
    transform: translate(90%, 50%);
    color: white;
    text-align: center;
    font-family: "Montserrat-Black";    
}
.landing button{
    margin-top: 50px;
    height: 60px;
    width: 160px;
    /* opacity: 1 !important; */
} 
.landing button:hover {
    border-color:white !important;
}

@media (max-width: 500px ) {

    .landing {
        right: 21.5rem !important;
        width: 80% !important;
    }

    .landing button {
        width: 140px;
        height: 60px;
        /* opacity: 1; */
    }

}