body{
    margin: 0;
    overflow: hidden;
    background:rgb(0,0,128);
}
span{
    color: orange;
}
.landing{
    width: 33%;
    position: fixed;
    top: 10%;
    bottom: 50%;
    transform: translate(90%, 50%);
    color: white;
    text-align: center;
    font-family: "Montserrat-Black";    
}
 button{
    margin-top: 50px;
    height: 60px;
    width: 160px;
} 
button:hover {
    border-color:white !important;
}

@media (max-width: 600px ) {

    .landing {
        right: 350px !important;
        width: 80% !important;
    }

}